
/* tipography */
/* @link https://utopia.fyi/type/calculator?c=320,20,1.2,1440,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
  --step--2: clamp(0.8rem, calc(0.5rem + 0.13vw), 0.96rem);
  --step--1: clamp(1.04rem, calc(1rem + 0.23vw), 1.2rem);
  --step-0: clamp(1.25rem, calc(1.18rem + 0.36vw), 1.5rem);
  --step-1: clamp(1.5rem, calc(1.39rem + 0.54vw), 1.88rem);
  --step-2: clamp(1.8rem, calc(1.64rem + 0.78vw), 2.34rem);
  --step-3: clamp(2.16rem, calc(1.94rem + 1.1vw), 2.93rem);
  --step-4: clamp(2.59rem, calc(2.29rem + 1.53vw), 3.66rem);
  --step-5: clamp(3.11rem, calc(2.69rem + 2.1vw), 4.58rem);
}


html {
  box-sizing: border-box;
  margin: 0 auto;

}


*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0; 
  padding: 0;
  
}


body {
  font-family: "Raleway", sans-serif;
  color:  hsl(243, 87%, 12%);
  background:  #fff;

}

#section-main{
  width: 97vw;
}

h1 {
  font-weight: 700;
  font-size: var(--step-1);
  
}

h2 {
  font-weight: 700;
  font-size: var(--step-0);
}

p {
  font-weight: 400;
  font-size: clamp(1.04rem, calc(1rem + 0.23vw), 1.2rem);
}

.container {
  width: 100vw;
  margin: auto;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370, 1fr));
  padding: 0;
  /* overflow-x: hidden; */
}
figure{
  margin-bottom:1.8rem ;
}


img {
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
 
  text-decoration: none;
  color: var(--prymary-Very-Dark-Blue);
}

/* @media screen and (min-width:75em){
 
  .card{
    flex-direction: none;
  }
} */


