:root {
  --prymary-Very-Dark-Blue: hsl(243, 87%, 12%);
  --prymry-Desaturated-Blue: hsl(238, 22%, 44%);
  --accent-Bright-Blue: hsl(224, 93%, 58%);
  --accent-Moderate-Cyan: hsl(170, 45%, 43%);
  --neutral-Light-Grayish-Blue: hsl(240, 75%, 98%);
  --neutral-Light-Gray: hsl(0, 0%, 75%);
  --box-shadow: 0 10px 20px hsl(240, 75%, 98%), 0 6px 6px hsl(240, 75%, 98%);
}

.main-nav {
  display: flex;
  flex-direction: row;
  width: inherit;
  height: auto;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
}

.nav__figure {
  width: 100px;
  margin-left: 0.5px;
  padding-top: 3px;
}

.main-nav__list {
  width: 300px;
  padding: 10px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-nav__link {
  padding-right: 10px;
  font-size: var(--step--2);
}
/* poster */

.card {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.card-2 {
  background: var(--neutral-Light-Grayish-Blue);
}
.card__aside {
  width: 23em;
  margin: 0 auto;
}

.card__img {
  margin-bottom: 1.5rem;
}

.card__title {
  width: 350px;
  margin: 0 auto;
  padding: 1rem;
  word-spacing: 3px;
  line-height: 2.5rem;
}

.card__text {
  width: 300px;
  padding: 1rem;
  margin: 0 auto;
  line-height: 1.8rem;
  padding-bottom: 1.5rem;
  text-align: left;
}
.inputs {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.card__footer {
  margin-bottom: 5rem;
}
.input-email {
  border: 1px solid #000;
  padding: 10px;
  color: var(--neutral-Light-Gray);
  margin-bottom: 1rem;
}

.button-email {
  padding: 10px;
  color: #ffff;
  font-weight: bolder;
  background: var(--accent-Bright-Blue);
  border: none;
  box-shadow: var(--box-shadow);
}
/* ---active-state-input-- */
.act-mail:focus {
  outline: none;
  border-color: red;
  border-width: 2px;
}

.mesage {
  text-align: left;
  font-size: 0.7rem;
  transform: translateY(-1rem);
  color: red;
  display: none;
}

.ms-footer {
  text-align: left;
  font-size: 0.7rem;
  transform: translateY(-1rem);
  color: #ffffff;
  display: none;
}

input:focus ~ .mesage {
  display: block;
}

input:focus ~ .ms-footer {
  display: block;
}

.act-btn:hover {
  background: hsl(224, 93%, 70%);
  cursor: pointer;
}

/* ---active-state-input Done-- */

.curve-asset {
  width: 100%;
  height: 50px;

  background-image: url(/images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  z-index: -10;
}
.link-action {
  width: 200;
  padding: 1rem;
}

.action__link {
  width: 180px;
  /* margin: 0 auto; */
  font-weight: bolder;
  color: var(--accent-Moderate-Cyan);
  border-bottom: thin solid var(--accent-Moderate-Cyan);
}

.link-action img {
  width: 20px;
  height: 20px;
}

.card__testimonial {
  width: 100%;
  height: 250px;
}

.testimonial {
  width: 300px;
  height: 180px;
  margin: 0 auto;
  text-align: left;
  padding: 1rem;

  box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
}

.quote__figure {
  margin: 0;
}

.quotes {
  width: 20px;
}

.testimonial__text {
  font-size: 0.7rem;
  line-height: 20px;
}
.testim__avatar {
  width: 180px;
  display: flex;
  align-items: center;
}
.testim__avatar p {
  font-size: 0.6rem;
  padding-left: 5px;
}

.avatar__figure {
  margin: 0;
}

.avatar__img {
  width: 30px;
  border-radius: 100%;
}

.name {
  font-weight: bolder;
  font-size: 0.8rem;
}

.accsses {
  width: 100%;
  background: var(--prymry-Desaturated-Blue);
}

.acsses-div {
  width: 20em;
  height: 350px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffff;
}

.acces__title {
  margin-bottom: 1rem;
}

.accses__text {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.6rem;
  margin-bottom: 1.3rem;
}

.button-email {
  box-shadow: none;
}

/* footer----> */

.footer-main {
  width: 100vw;
  background: var(--prymary-Very-Dark-Blue);
}
.footer-nav__cont {
  width: 100%;
  /* margin: 0 ; */

  margin: 0 auto;
  padding: 2rem;
  color: #ffff;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-right,
.footer-center,
.footer-center-2 {
  width: 20em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.social-icon {
  width: 20em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.footer-right p {
  padding-bottom: 20px;
}

.cont-img {
  width: 1.8rem;
  padding-right: 10px;
  line-height: normal;
}

.footer-link {
  padding-bottom: 10px;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border: 1px solid #ffff;
  fill: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}
@media screen and (min-width: 48em) {
  .curve-asset {
    background: url(/images/bg-curve-desktop.svg);
  }
}
@media screen and (min-width: 75em) {
  .card {
    display: flex;
    flex-direction: row-reverse;
  }

  .acsses-div {
    width: 100%;
    flex-direction: row;
  }

  .footer-nav__cont {
    flex-direction: row;
    align-items: center;
  }

  .card__aside {
    width: 600px;
  }

  .card__header {
    width: 600px;
  }
  .card__title,
  .card__text {
    width: 540px;
    text-align: left;
  }

  .inputs {
    width: 510px;
    flex-direction: row;
  }
  .input-email {
    width: 250px;
  }

  .button-email {
    width: 150px;
    height: 38px;
    margin-left: 1rem;
  }

  .link-action {
    width: 550px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
  }

  .testimonial{

    margin-left: 23px;
  }
.acsses-div{

  align-items: center;
  
}

  .accses__text
    {
    width: 600px;
    text-align: left;
    margin: 0 auto;

  }
  .acces__copy{
    width: 540px;
  }



  .access__inputs {
    width: 400px;
 
    margin: 0 auto;
    flex-direction: column;
  }
  .access__inputs .input-email{
   width: 350px;
    height: 37px;
  }

  .access__inputs .button-email{
    margin: 0;
  }
}
